<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Fast Squares - <%= pageTitle %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/css/materialize.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/animate.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/bits.css" />
    <% if(inGame) { %>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/game.css" />
    <% } %>
  </head>
  <body>